[build]
builder = "dockerfile"
dockerfilePath = "frontend-web/Dockerfile"
buildContext = "."

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
